<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="(( url_for('static', filename='css/style.css') ))">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <title>NOTA</title>
  </head>
  <body>
    <div id="app">
      <div id="top-bar">
        <header>
          <h1>NOTA</h1>
          <div v-cloak v-if="(config.nbPosts !== null) & (config.nbProcessed < config.nbPosts)" class="indicator progress progress-bar-striped">
            <div class="progress-bar" role="progressbar" v-bind:style="{width: 100 * config.nbProcessed / config.nbPosts + '%'}"  v-bind:aria-valuenow="100 * config.nbProcessed / config.nbPosts" aria-valuemin="0" aria-valuemax="100">{{config.nbProcessed}} / {{config.nbPosts}} </div>
          </div>
          <div>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#inputmodal">New</button>
          </div>
        </header>
      </div>
      <setupmodal  inline-template v-on:new-config="setConfig">
        <div class="modal fade" ref="inputmodal" id="inputmodal" tabindex="-1" role="dialog" aria-labelledby="inputmodalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="inputmodalLabel">Create new project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form ref="createForm" id="createForm">
                  <div class="form-group">
                    <label for="pageUrl">Facebook page url</label>
                    <input required ref="pageUrl" v-model="fbUrl" type="url" class="form-control" id="pageUrl" placeholder="facebook page url">
                  </div>
                  <div class="form-group">
                    <label for="nbPosts">number of posts to fetch</label>
                    <input required ref="nbPosts" v-model="nbPosts" type="number" min="1" max="50" class="form-control" id="nbPosts">
                  </div>
                  <div class="form-group">
                    <label for="notation">notation</label>
                    <input required ref="notation" v-model="notationStr" list="notations" name="notation" class="form-control" id="notation" placeholder="ex: 5,4,3,2,1">
                      <datalist id="notations">
                        <option value="70,50,40,30,10,10,10,10,10,10">
                        <option value="70,50,30,10,10,10,10,10">
                        <option value="05,04,03,02,01">
                      </datalist>
                  </div>
                  <div class="form-check">
                    <input v-model="cycle" type="checkbox" class="form-check-input" id="checkcycle">
                    <label class="form-check-label" for="checkcycle">Cycle back to top if there is not enough correct answers</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" v-on:click="submitForm">Create</button>
              </div>
            </div>
          </div>
        </div>
      </setupmodal>
      <div v-cloak v-if="config.posts.length > 0">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" v-for="(_, index) in config.posts">
               <a :class="{'nav-link': true, 'active show': (index === 0)}" :id="'post' + index + 'Tab'" data-toggle="tab" :href="'#post' + index" role="tab" :aria-controls="'post' + index" aria-selected="false">p {{index + 1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="teamsTab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="resultsTab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">results</a>
            </li>
        </ul>
        <div class="tab-content">
          <post inline-template v-for="(post, index) in config.posts" v-bind:post="post" v-bind:key="index" :index="index" :points="config.notation" :cycle="config.cycle" v-on:send-comment="sendComment">
            <div :id="'post' + index" :class="{'tab-pane fade container-fluid':true, 'active show': (index === 0)}">
                <div class="row">
                  <div class="col-9 post">
                    <p class="lead post-content sticky-top">{{post.content}}</p>
                    <ul class="list-unstyled comments-list">
                      <comment inline-template v-for="(comment, index) in post.comments" v-bind:comment="comment" v-bind:key="index" :index="index"  v-on:toggle-accepted="updateScore(index)">
                        <li :class="{'media comment':true, 'modified': comment.modified}">
                          <div class="media-body">
                            <header>
                              <span class="comment-author">{{comment.author}}</span>
                              <button v-if="accepted" type="button" class="btn btn-danger btn-sm" v-on:click="toggleAccept">Reject</button>
                              <button v-else type="button" class="btn btn-success btn-sm" v-on:click="toggleAccept">Accept</button>
                            </header>
                            <p class="comment-content">{{comment.content}}</p>
                          </div>
                        </li>
                      </comment>
                    </ul>
                  </div>

                  <div class="col-3">
                    <div class="sidebar sticky-top scores">
                      <header>
                        <span class="lead">Score</span>
                        <div>
                          <button type="button" class="btn btn-primary btn-sm" v-on:click="comment">Comment</button>
                          <button type="button" class="btn btn-primary btn-sm" v-on:click="copyToClipboard">Copy</button>
                        </div>
                      </header>

                      <table class="scores-table table text-left">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col" class="text-right">points</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(mark, iMark) in marks">
                            <th scope="row">{{iMark + 1}}</th>
                            <td>{{mark.name}}</th>
                            <td class="text-right">{{mark.score}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            </div>
          </post>

          <teams inline-template>
            <div v-if="players.length > 0" id="teams" class="tab-pane fade container-fluid">

              <div class="row justify-content-center">
                <header class="bar">
                  <span class="lead">Teams</span>
                  <div>
                    <button type="button" class="btn btn-primary btn-sm">Export(FIX!)</button>
                    <button type="button" class="btn btn-primary btn-sm">Import(FIX!)</button>
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="computeGlobalRanking">Ranking</button>
                  </div>
                </header>
                <div class="col-auto teams">
                  <header class="text-center">
                    <span class="lead">Colors</span>
                  </header>
                  <table class="team-color-table table text-center">
                    <thead>
                      <tr>
                        <th scope="col">team</th>
                        <th scope="col">color</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(color, team, index) in colorMap">
                        <th>{{team}}</th>
                        <td class="align-middle"><input type="color" v-model="colorMap[team]"></td>
                        <td><button type="button" class="btn btn-sm btn-danger" v-on:click="deleteTeam(team)"><i class="fas fa-minus"></i></button></td>
                      </tr>
                      <tr>
                        <th><input class="text-center" ref="team" id="team" placeholder="team name" type="text"></th>
                        <td class="align-middle"><input ref="color" type="color" id="color" value="#ff9fb6"></td>
                        <td><button type="button" class="btn btn-primary btn-sm" v-on:click="addTeamFromForm"><i class="fas fa-plus"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-auto membership">
                  <header class="text-center">
                    <span class="lead">Membership</span>
                  </header>
                  <table class="membership-table table text-center">
                    <thead>
                      <tr>
                        <th scope="col">name</th>
                        <th scope="col">team</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="player in players">
                        <th>{{player}}</th>
                        <td>
                          <select v-model="playersTeam[player]">
                            <option  v-for="(color, team) in colorMap"  v-bind:value="team">{{team}}</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </teams>

          <results inline-template>
            <div v-if="notes.length > 0" id="results" class="tab-pane fade container-fluid">
                <div class="row">
                  <div class="col-6 results-tab">
                    <header>
                      <span class="lead">Score per player</span>
                      <div>
                        <button type="button" class="btn btn-primary btn-sm"  v-on:click="downloadNotationAsCSV">Save as csv</button>
                      </div>
                    </header>

                    <table v-if="!existGroups" class="color-table table text-center">
                      <thead>
                      </thead>
                      <tbody>
                        <tr>
                          <th>odd row color</th>
                          <td><input type="color" v-model="oddColor"></td>
                        </tr>
                        <tr>
                          <th>even row color</th>
                          <td><input type="color" v-model="evenColor"></td>
                        </tr>
                      </tbody>
                    </table>



                    <table class="scores-table table text-center">
                      <thead>
                        <tr>
                          <th scope="col">rank</th>
                          <th scope="col">name</th>
                          <th scope="col">points</th>
                          <th scope="col">nb reponses</th>
                          <th v-if="existGroups" scope="col">team</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(mark, index) in notes" v-bind:style="{ 'background-color': getColor(mark.name, index) }">
                          <th scope="row">{{mark.rank}}</th>
                          <td>{{mark.name}}</td>
                          <td>{{mark.score}}</td>
                          <td>{{mark.count}}</td>
                          <td v-if="existGroups" scope="col">{{playersTeam[mark.name]}}</td>
                        </tr>
                        <tr>
                          <th scope="row">total</th>
                          <td></td>
                          <td>{{totalPoints}}</td>
                          <td>{{nbAnswers}}</td>
                          <td v-if="existGroups"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                  <div v-if="existGroups" class="col-6 results-tab">
                    <header>
                      <span class="lead">Score per team</span>
                      <div>
                        <button type="button" class="btn btn-primary btn-sm"  v-on:click="downloadNotationAsCSV">Save as csv(FIX!)</button>
                      </div>
                    </header>

                    <table class="scores-table table text-center">
                      <thead>
                        <tr>
                          <th scope="col">rank</th>
                          <th scope="col">team</th>
                          <th scope="col">points</th>
                          <th scope="col">nb reponses</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(markTeam, index) in notesPerTeam" v-bind:style="{ 'background-color': colorMap[markTeam.name] }">
                          <th scope="row">{{markTeam.rank}}</th>
                          <td>{{markTeam.name}}</td>
                          <td>{{markTeam.score}}</td>
                          <td>{{markTeam.count}}</td>
                        </tr>
                        <tr>
                          <th scope="row">total</th>
                          <td></td>
                          <td>{{totalPoints}}</td>
                          <td>{{nbAnswers}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </results>

          <div ref="copyalert" id="copy-alert" class="col-2 alert alert-success copied-alert"  style="display:none;" role="alert" >
            Scores copied to clipboard
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="(( url_for('static', filename='script.js') ))" charset="utf-8"></script>

  </body>
</html>
