html {
  background: url('/static/img/ryuklow.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

#app {
  background-color: transparent;
}

.scores, .post {
  padding-top: 2rem;
  padding-bottom: 1rem;
}


#top-bar .progress {
  flex: 0.7;
  height: 30px;
}

.post-content {
  max-width: 600px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: hsla(205, 54%, 72%, 1);
}


.comment {
  background-color: hsla(0, 0%, 96%, 1);
  margin-bottom: 1rem;
  max-width: 600px;
  /* padding: 1rem; */
}

.comment header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background-color: hsla(0, 0%, 92%, 1);
}

#top-bar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.comment-content {
       padding: 0.5rem;
       padding-top: 1rem;
       padding-bottom: 0px;
}

.modified {
  background-color: hsla(336, 100%, 75%, 1);
}

.modified header {
  background-color: hsla(336, 100%, 71%, 1);
}

[v-cloak] {
  display: none;
}

.scores header, .results-tab header, .membership header, .teams header{
  padding: .75rem 0.75rem;
  background-color: white;
  margin-bottom: 1rem;
}

/* .membership header, .teams header{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */



.scores header, .results-tab header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores table, .results-tab table, .membership table, .teams table  {
  background-color: white;
}

.results-tab {
  margin-top: 1rem;
}

.nav-tabs, #top-bar{
  background-color: white;
}


.copied-alert {
    position:fixed;
    bottom: 10px;
    right: 10px;
    /* width: 200px; */
    z-index:9999;
    text-align: center;
}

.membership, .teams {
  margin-top: 1rem;
}


#addTeamForm {
  display: flex;
}

#addTeamForm input[type="text"] {
  flex-grow: 1;
  margin-right: 0.5rem;
}


header.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0.75rem;
  background-color: white;
  margin-bottom: 1rem;
  width: 100%;
}
